@page "/test4"

<table class="table table_test">
    <thead>
        <tr>
            <td>Col1</td>
            <td>Col2</td>
            <td>Col3</td>
        </tr>
    </thead>
    <tbody>
        <TableBody></TableBody>
    </tbody>
</table>

<style>
    .table_test tbody tr.active {
        background-color: #0094ff;
        color: #fff;
    }
</style>

@code {

}
